@import "../../../../styles/variables.scss";

.hero__slide__wrapper {
  height: 39vw;
  background: #000;
  position: relative;
  .image__bg__wrapper,
  .overlay,
  .slide__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .image__bg__wrapper {
    z-index: 1;
  }
  .overlay {
    background: linear-gradient(to right, #20338527, #ffffff52);
    z-index: 2;
  }
  .slide__content {
    color: #fff;
    position: absolute;
    z-index: 3;
    .heading {
      font-size: $fs__20;
      font-weight: $fw_800;
      color: $blue__color;
      padding: 0;
      margin: 0;
    }
    .slogan {
      font-weight: $fw_900;
      color: $main__black__text__color;
      font-size: 3rem;
      margin: 2rem 0;
      margin-bottom: 2.75rem;
      text-shadow: 1px 1px 4px #fff;
    }
    .btn {
      all: unset;
      cursor: pointer;
      color: #fff;
      background-color: $main__topbar__color;
      padding: 1rem 3.5rem;
      font-size: 15px;
      font-weight: 600;
    }
  }
  &.darkBg {
    .overlay {
      background: linear-gradient(to left, #000000d7 30%, #00000091);
      z-index: 2;
    }
    .slide__content {
      .heading {
        color: #fff;
      }
      .slogan {
        color: #fff;
        text-shadow: 1px 1px 4px #000;
      }
    }
  }
}

@media screen and (max-width: "1480px") {
  .hero__slide__wrapper {
    .slide__content {
      padding-right: 6rem;
    }
  }
}
@media screen and (max-width: "1300px") {
  .hero__slide__wrapper {
    .slide__content {
      padding-right: 8rem;
    }
  }
}
@media screen and (max-width: "1200px") {
  .hero__slide__wrapper {
    .slide__content {
      padding-right: 0rem;
    }
  }
}
@media screen and (max-width: "1400px") {
  .hero__slide__wrapper {
    .slide__content {
      .heading {
        font-size: $fs__16;
        font-weight: $fw_700;
      }
      .slogan {
        font-weight: $fw_800;
        font-size: 2rem;
        margin: 1.5rem 0;
        margin-bottom: 2rem;
      }
      .btn {
        all: unset;
        cursor: pointer;
        color: #fff;
        background-color: $main__topbar__color;
        padding: 0.75rem 3rem;
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
}
@media screen and (max-width: "992px") {
  .hero__slide__wrapper {
    .slide__content {
      .heading {
        font-size: $main__font__size;
        font-weight: $fw_600;
      }
      .slogan {
        font-weight: $fw_700;
        font-size: 1.5rem;
        margin: 1rem 0;
        margin-bottom: 1.25rem;
      }
      .btn {
        all: unset;
        cursor: pointer;
        color: #fff;
        background-color: $main__topbar__color;
        padding: 0.5rem 2rem;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}
@media screen and (max-width: "768px") {
  .hero__slide__wrapper {
    height: 55vw;
    background: #000;
    position: relative;
    .image__bg__wrapper,
    .overlay,
    .slide__content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    // .overlay {
    //   background: linear-gradient(to right, #ffffffd0, #ffffffd0);
    //   z-index: 2;
    // }
    // &.darkBg {
    //   .overlay {
    //     background: linear-gradient(to right, #203385e0, #203385e0);
    //     z-index: 2;
    //   }
    // }
  }
}

@media screen and (max-width: "600px") {
  .hero__slide__wrapper {
    height: 65vw;
    .slide__content {
      .slogan {
        font-size: 1.5rem;
        margin: 1.5rem 0;
        padding: 0 10px;
      }
    }
  }
}
@media screen and (max-width: "450px") {
  .hero__slide__wrapper {
    height: 85vw;
    .slide__content {
      .slogan {
        margin: 2rem 0;
        margin-bottom: 2.5rem;
      }
    }
  }
}
