@import "../../styles/variables.scss";

.main__navbar__wrapper {
  background-color: $blue__color;
  color: $white__color;
  .navigation__wrapper {
    .nav__list {
      display: flex;
      column-gap: 20px;
      height: 100%;
      .nav__item {
        display: block;
        height: 100%;
      }
    }
  }
  .mail {
    background-color: $main__topbar__color;
    padding: 0.88rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      column-gap: 20px;
      justify-content: center;
      color: $white__color !important;
      font-size: 15px;
      font-weight: 500;
      .icon {
        font-size: 22px;
      }
    }
  }
}
