@import "../../../styles/variables.scss";

.services__page {
  background-color: #fff;
  .services__container {
    padding: 5rem 0;
    .page__header {
      color: $blue__color;
      font-weight: 800;
      text-align: center;
    }
  }
}
