@import "../../../styles/variables.scss";

.main__menu {
  min-height: 550px;
  background: linear-gradient(#00000030, #00000030), url("/assets/bg/menu.jpg");
  color: #fff;
  display: flex;
  align-items: center;
  .menu__column {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    .website__name {
      margin-top: 10px;
      .forces__name,
      .zmc__name,
      .alnosor__name {
        margin: 0;
        font-weight: $fw_600;
        font-size: 12px;
      }
      .alnosor__name {
        font-weight: $fw_900;
        padding: 2px 0;
      }
    }
    .d__flex {
      opacity: 0.9;
      display: flex;
      align-items: center;
      column-gap: 20px;
      .icon {
        font-size: 3rem;
      }
      span {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
    .subscription__form__wrapper {
      form {
        display: flex;
        input {
          all: unset;
          height: 45px;
          width: 250px;
          background-color: #00000046;
          padding: 0 1rem;
        }
        button {
          all: unset;
          width: 70px;
          height: 45px;
          background-color: $main__topbar__color;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 23px;
          cursor: pointer;
          transition: background linear 0.2s;

          &:hover {
            background-color: #fff;
            color: $blue__color;
          }
        }
      }
    }

    .social__links__list {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      column-gap: 21px;
      .list__item {
        .list__link {
          width: 38px;
          height: 38px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffffe0;
          background-color: #0000008c;
          font-size: 19px;
          transition: background linear 0.2s;
          &:hover {
            background-color: #fff;
            color: $blue__color;
          }
        }
      }
    }
  }
}
