@import "../../../styles/variables.scss";

.partners__section {
  padding: 5rem 0;
  background-color: #fff;
  text-align: center;

  .heading {
    margin: 0;
    padding: 3rem 0;
    font-size: 18px;
    line-height: 2rem;
  }
}
