@import "../../../styles/variables.scss";

.mid__section {
  padding: 5rem 0;
  text-align: center;
  background-color: rgb(245, 245, 245);
  h4 {
    color: $blue__color;
    font-size: 3vw;
    padding: 4rem 0;
  }
  p {
    padding: 0 3rem;
    font-size: 18px;
    line-height: 2rem;
  }
  span {
    display: block;
    margin-top: 3rem;
    font-size: 1.75rem;
  }
}
