@import "../styles/variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  color: $main__black__text__color;
  font-size: $main__font__size;
  font-weight: $main__font__weight;
  font-family: $main__font__family;
  background-color: $main__bg__color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

.stop {
  overflow: hidden;
}
.react-responsive-modal-root {
  background-color: rgba(0, 0, 0, 0.397);
}
.react-responsive-modal-modal {
  // width: 100% !important;
  max-width: 1200px !important;
  padding-top: 3.5rem !important;
}
