// COLORS
$main__topbar__color: #3495d6;
$main__bg__color: #ddd;
$white__color: #fff;
$main__black__text__color: #202020;
$grey__text__color: #505050;

$red__color: #d60b0b;
$blue__color: #182974;

// FONTS
$main__font__family: "Cairo";
$main__font__weight: 400;
$main__font__size: 14px;
$fs__12: 12px;
$fs__16: 16px;
$fs__18: 18px;
$fs__20: 20px;
$fs__24: 24px;
$fs__26: 26px;
$fs__28: 28px;
$fs__30: 30px;
$fs__32: 32px;
$fs__34: 34px;
$fs__36: 36px;
// FONT WEIGHTS
$fw_500: 500;
$fw_600: 600;
$fw_700: 700;
$fw_800: 800;
$fw_900: 900;
